<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Token</title>
    <link rel="icon" href="https://cdn.shopify.com/s/files/1/0567/6859/4117/files/CommunicationLTD_-_Favicon.png?v=1722971754" type="image/png">

</head>
<body>
<div class="signin-container">
    <h1>Were here to help , enter the Token provided in your mailbox</h1>
    <form method="post" action="{{ url_for('password_reset_email') }}">
        <label for="token">Token:</label>
        <input type="text" id="token" name="token" required>
        <br><br>
        <button type="submit">Submit Token</button>
    </form>
    <form method="GET" action="{{ url_for('signin') }}">
        <button type="submit">Back to Signin page</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li class="error_message">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
</body>
</html>
